__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.swp
.coverage
htmlcov/
.idea/
.vscode/
models/
gfpgan/
settings.json
batch_defaults.json
temp/
/batch/

# Per-machine launchers written by the installer (installer/wizard.py)
/run.sh
/run.bat
/run.command
/docs
